*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
header {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.newnav{
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 30vh;
  border-radius: 1rem;
  background-color: #333;
  padding: 10px 0;
  z-index: 12345;
}
.newnav ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 5rem;
  list-style: none;
  z-index: 1;
}
.newnav li{
  display: inline-block;
  margin-right: 20px;
}

.newnav a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  color:white;
}
.newnav a:hover{
  background-color: #555;
}
.newnav a:active{
  background-color: #555;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  max-width: 80%;
  margin: 0 auto;
}

.hamburger {
  display: none;
}

nav #hleft {
  display: flex;
  gap: 4rem;
  align-items: center;
}

nav #hleft a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #003459;
}
#hlinks {
  display: flex;
  gap: 2rem;
  align-items: center;
}

nav #hright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#hright div {
  display: flex;
  background: white;
  border-radius: 10rem;
  overflow: hidden;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

nav #hright input {
  padding: 1rem;
  border: none;
  align-items: center;
  width: 80%;
  outline: none;
}
#inputimg {
  padding-left: 1rem;
}

nav #hright button {
  padding: 1rem 2rem;
  border-radius: 5.7rem;
  outline: none;
  border: 0.1rem solid gray;
  background: #003459;
  color: white;
  cursor: pointer;
}

.filepath {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}
.pathlink {
  display: flex;
  gap: 2rem;
}
.pathlink a {
  text-decoration: none;
  color: #667479;
  font-weight: 500;
  font-size: 1.4rem;
}

#categorybanner {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
  overflow: hidden;
  border-radius: 1rem;
  margin-top: 1rem;
}
.bannerleft {
  width: 60%;
  z-index: 2;
}
.bannerleft img {
  width: 100%;
  margin-bottom: -0.2rem;
}
.bannerright {
  width: 40%;
}
.categoryrect {
  position: absolute;
  left: -30rem;
  top: -4.5em;
  z-index: -1;
}

.bannerright h1 {
  font-size: 3rem;
  font-weight: 800;
  color: white;
}

.bannerright h2 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
.bannerText p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  color: white;
  text-align: end;
}
.bannerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-items: flex-end;
  z-index: 1;
  position: relative;
  padding-right: 4rem;
}
.bannerText div {
  display: flex;
  gap: 1rem;
}

.explore {
  padding: 0.5em 1.5em;
  background: white;
  color: #003459;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
}
#play {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5em 0.75em;
  border-radius: 10rem;
  border: 1px solid white;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
}

#dogcategories {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  margin-top: 4rem;
}

#petcontainer {
  /* max-width: 100%; */
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;
  /* padding: 1rem 0 1rem 0; */
}

#whatsnew {
  /* width: 80%; */
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 3rem;
}

#whatsnew .top {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 1rem;
}

#whatsnew h3 {
  font-size: 1.5rem;
  color: #003459;
}
#whatsnew p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #667479;
}

.whatsnewlink {
  border: 0.1rem solid #00171f;
  padding: 0.5rem;
  border-radius: 10rem;
  background: white;
}
.whatsnewlink a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #003459;
}

#petslide {
  /* max-width: 80%; */
  /* margin: auto; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
 

.petcard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1.5rem;
  border: 0.1rem solid white;
  border-radius: 2rem;
  background: #fdfdfd;
  padding: 1rem;
  box-shadow: 0px 4px 28px -2px #00000014;
  height: auto;
}

.petcard div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.petcard h4 {
  color: #00171f;
  font-size: 1.2rem;
  font-weight: 600;
}
.petcard h5 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #00171f;
}

.petcard p {
  color: #667479;
  font-weight: 700;
}

.petcard img {
  width: 100%;
  height: auto;
  /* border: 0.5rem solid white; */
  /* border-radius: 2rem; */
}
.filter {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 1rem;
}
.filter h2 {
  margin-top: 2rem;
  color: #003459;
}

.gender {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-bottom: 1px solid rgb(238, 233, 233);
  padding: 1rem;
}
.gender span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-bottom: 1px solid rgb(238, 233, 233);
  padding: 1rem;
}
.color span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-bottom: 1px solid rgb(238, 233, 233);
  padding: 1rem;
}
.price div {
  display: flex;
  gap: 1rem;
}

.breed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-top: 1px solid rgb(238, 233, 233);
  padding: 1rem;
}
.breed span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#pagenum {
  display: flex;
  justify-content: center;
}

.numlink {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.numlink a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  color: #002a48;
}

.numlink .one {
  background: #002a48;
  color: white;
  padding: 0.6rem 1.3rem 0.4rem 1.3rem;
  border-radius: 0.8rem;
}

#register {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  background: #003459;
  padding: 2rem;
  gap: 2rem;
  border-radius: 1.6rem;
}
#register h1 {
  width: 40%;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}
#register #sign {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}
#register input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 1rem;
  border: 1px solid gray;
  outline: none;
}
#register button {
  width: 20rem;
  background: #003459;
  color: white;
  border: none;
  border-radius: 0.8rem;
  padding: 1.4rem 2.8rem 1rem 2.8rem;
  cursor: pointer;
}
#media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  /* height: 10vh; */
  padding: 1.5rem 0;
  border-bottom: 1px solid;
}
#medialinks {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}
#medialinks a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #003459;
}
.mediaimg {
  display: flex;
  align-items: center;
  gap: 4rem;
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 2rem;
}
#footerlink {
  display: flex;
  gap: 3rem;
}
#footerdown {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
footer p {
  font-weight: 500;
  font-size: 1.4rem;
}
#footerlink a {
  text-decoration: none;
  color: #667479;
  font-weight: 500;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
    padding: 1rem;
  }
  #hlinks,
  #hright input,
  .dropdown,
  .joinbtn {
    display: none;
  }
  
  #inputimg {
    padding-left: 0;
    background: transparent;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  #categorybanner {
    width: 100%;
    display: flex;
    gap: 0.1rem;
    flex-direction: column-reverse;
  }
  .categoryrect {
    display: none;
  }
  .bannerright {
    width: 100%;
  }
  .bannerText {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    padding: 2rem;
  }
  .bannerText p {
    text-align: left;
    color: #003459;
  }

  .bannerText div {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .explore {
    padding: 0.7em 1.5em;
    background: #003459;
    color: white;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    width: 50%;
  }

  #play {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.75em;
    border-radius: 10rem;
    border: 1px solid #003459;
    color: #003459;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    /* background-color: transparent; */
    width: 50%;
  }

  .bannerright h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #003459;
  }

  .bannerright h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #003459;
  }
  .bannerleft img {
    width: 200%;
  }
  .bannerleft {
    display: flex;
    justify-content: center;
  }
  
#dogcategories {
  width: 100%;
  margin-top: 4rem;
}


  .filter {
    display: none;
  }
  #whatsnew {
    width: 100%;
  }
  #whatsnew .top {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .whatsnewlink {
    display: none;
  }

  #petcontainer{
    width: 100%;
  }
  #petslide{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }
  /* .petcard{
    width: 100%;
    height: auto;
  } */
 

  .petcard div {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-start;
    gap: 1rem;
    max-width: 100%;
  }
  .petcard {
    max-width: 100%;
    height: auto;
  }
  .petcard img {
    width: 100%;
    height: auto;
  }
  #dogcategories {
    width: 100%;
  }
  .petdetails {
    width: 100%;
  }
  #pagenum {
    display: flex;
    /* background: #000; */
    /* justify-content: center; */
    width: 100%
  }
  #pagenum .numlink {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #petcontainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;

  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #register {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #register h1 {
    width: 100%;
    font-size: 1.5rem;
  }
  #register #sign {
    width: 100%;
  }
  #sign {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #sign button {
    width: 100%;
  }
  #media img {
    width: 100%;
  }
  #media {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #medialinks {
    width: 100%;
    display: flex;
    gap: 1rem;
  }
  #medialinks a {
    font-size: 1rem;
  }
  .mediaimg {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .mediaimg img {
    width: 0.5rem;
  }
  #footerdown {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }
  #footerlink a {
    font-size: 1rem;
  }
  #footerdown p {
    font-size: 1rem;
  }
}